<div style="height:30px">
    <div class="container text-uppercase">
        <div class="col-lg-12">
            <ul class = "nav navbar-nav">
              <li class = "active"><a class="navbar-brand" style="color:#000000" routerLink="">my account</a></li>
              <li class = ""><a class="navbar-brand" style="color:#000000" routerLink="/buckyTutorial">Bucky's Tutorial</a></li>
              <li class = ""><a class="navbar-brand" style="color:#000000" routerLink="/myAccount/orderHistory">order history</a></li>
              <li class = ""><a class="navbar-brand" style="color:#000000" routerLink="/authors">ONLINE BILL PAY</a></li>
              
            </ul>      
          </div>
      </div>  
</div>
<!--
<nav class="navbar navbar-default" style="height:1px">
    <div class="container text-uppercase">
        
        <a class="navbar-brand" style="color:#000000" href="#">my account</a>      
      </div>
</nav>-->